<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="assets/main.css" />
    <%- include ('../partials/socket')  %> 
    <title>Load</title>
</head>
<body>
    <header>
        <%- include ('../partials/header'); %> 
    </header>
    <%- include ('../partials/form'); %>
    <div class="tableDiv">
        <%- include ('../partials/table'); %> 
    </div>
    <div class="chatDiv">
    <%- include ('../partials/chat'); %> 
    </div> 
</body>
</html>